h1 {
    background-color:rgba(100, 97, 255, 0.692);
    font-weight:900;
    font-family:'Times New Roman', sans-serif;
    color:rgb(255, 255, 255)
}

img {
    height:auto;
    width: 500px;
}

.index_img {
    height:auto;
    width: 200px;
}

.questions {
    background-color: rgba(71, 234, 255, 0.315);
    font-style:italic;
    font-size:30px;
    text-shadow:3px 1px 1px black;
    color:rgb(255, 255, 255);
    font-weight:900;
}

.answers {
    font-family:'Times New Roman', sans-serif;
    background-color: rgb(250, 220, 220);

}

.description {
    color:rgb(100, 97, 255);
    font-family:'Times New Roman', sans-serif;
    background-color:rgb(255, 255, 255)
}

.ingredients,
.directions {
    background-color: rgba(250, 220, 220);
    font-size:20px;
    font-weight:900;
    text-shadow: 2px 2px 2px white;
    color:rgb(60, 60, 60);
}

